<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qlmsoft.crawler.mapper.CorpCertMappingMapper">
  <resultMap id="BaseResultMap" type="com.qlmsoft.crawler.entity.CorpCertMapping">
    <result column="certname" jdbcType="NVARCHAR" property="certname" />
    <result column="majortypename" jdbcType="NVARCHAR" property="majortypename" />
    <result column="majortypeno" jdbcType="NVARCHAR" property="majortypeno" />
    <result column="tradetypename" jdbcType="NVARCHAR" property="tradetypename" />
    <result column="certtypename" jdbcType="NVARCHAR" property="certtypename" />
    <result column="certtypeno" jdbcType="INTEGER" property="certtypeno" />
    <result column="tradetypeno" jdbcType="NVARCHAR" property="tradetypeno" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    certname, majortypename, majortypeno, tradetypename, certtypename
  </sql>
  
  <sql id="Ex_Column_List">
    m.certname, m.majortypename, m.majortypeno, m.tradetypename, m.certtypename,c.code as certtypeno,t.tradetypeno
  </sql>
  
  <select id="selectAll" parameterType="String" resultMap="BaseResultMap">
    select <include refid="Ex_Column_List" />
    from CorpCertMapping  m 
	left join CorpCertType c on c.certtype = m.certtypename 
	left join CorpTradeType t on t.tradetypename = m.tradetypename
	
	<if test="certType != null">
        where m.certtypename = #{certType,jdbcType=NVARCHAR},
	</if>
      
  </select>
  
  <select id="selectByExample" parameterType="com.qlmsoft.crawler.entity.CorpCertMappingExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CorpCertMapping
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.qlmsoft.crawler.entity.CorpCertMappingExample">
    delete from CorpCertMapping
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qlmsoft.crawler.entity.CorpCertMapping">
    insert into CorpCertMapping (certname, majortypename, majortypeno, 
      tradetypename, certtypename)
    values (#{certname,jdbcType=NVARCHAR}, #{majortypename,jdbcType=NVARCHAR}, #{majortypeno,jdbcType=NVARCHAR}, 
      #{tradetypename,jdbcType=NVARCHAR}, #{certtypename,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qlmsoft.crawler.entity.CorpCertMapping">
    insert into CorpCertMapping
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="certname != null">
        certname,
      </if>
      <if test="majortypename != null">
        majortypename,
      </if>
      <if test="majortypeno != null">
        majortypeno,
      </if>
      <if test="tradetypename != null">
        tradetypename,
      </if>
      <if test="certtypename != null">
        certtypename,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="certname != null">
        #{certname,jdbcType=NVARCHAR},
      </if>
      <if test="majortypename != null">
        #{majortypename,jdbcType=NVARCHAR},
      </if>
      <if test="majortypeno != null">
        #{majortypeno,jdbcType=NVARCHAR},
      </if>
      <if test="tradetypename != null">
        #{tradetypename,jdbcType=NVARCHAR},
      </if>
      <if test="certtypename != null">
        #{certtypename,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qlmsoft.crawler.entity.CorpCertMappingExample" resultType="java.lang.Long">
    select count(*) from CorpCertMapping
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update CorpCertMapping
    <set>
      <if test="record.certname != null">
        certname = #{record.certname,jdbcType=NVARCHAR},
      </if>
      <if test="record.majortypename != null">
        majortypename = #{record.majortypename,jdbcType=NVARCHAR},
      </if>
      <if test="record.majortypeno != null">
        majortypeno = #{record.majortypeno,jdbcType=NVARCHAR},
      </if>
      <if test="record.tradetypename != null">
        tradetypename = #{record.tradetypename,jdbcType=NVARCHAR},
      </if>
      <if test="record.certtypename != null">
        certtypename = #{record.certtypename,jdbcType=NVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update CorpCertMapping
    set certname = #{record.certname,jdbcType=NVARCHAR},
      majortypename = #{record.majortypename,jdbcType=NVARCHAR},
      majortypeno = #{record.majortypeno,jdbcType=NVARCHAR},
      tradetypename = #{record.tradetypename,jdbcType=NVARCHAR},
      certtypename = #{record.certtypename,jdbcType=NVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.qlmsoft.crawler.entity.CorpCertMappingExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CorpCertMapping
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>