<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qlmsoft.crawler.mapper.CorpRegStaffCertMapper">
  <resultMap id="BaseResultMap" type="com.qlmsoft.crawler.entity.CorpRegStaffCert">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="staff_id" jdbcType="INTEGER" property="staffId" />
    <result column="staff_id_card" jdbcType="VARCHAR" property="staffIdCard" />
    <result column="reg_type" jdbcType="VARCHAR" property="regType" />
    <result column="reg_type_id" jdbcType="INTEGER" property="regTypeId" />
    <result column="reg_major" jdbcType="VARCHAR" property="regMajor" />
    <result column="reg_major_id" jdbcType="INTEGER" property="regMajorId" />
    <result column="cert_no" jdbcType="VARCHAR" property="certNo" />
    <result column="reg_no" jdbcType="VARCHAR" property="regNo" />
    <result column="valid_date" jdbcType="TIMESTAMP" property="validDate" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="staff_id_card2" jdbcType="VARCHAR" property="staffIdCard2" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, staff_id, staff_id_card, reg_type, reg_type_id, reg_major, reg_major_id, cert_no, 
    reg_no, valid_date, create_time, update_time, status, staff_id_card2
  </sql>
  <select id="selectByExample" parameterType="com.qlmsoft.crawler.entity.CorpRegStaffCertExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CorpRegStaffCert
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from CorpRegStaffCert
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from CorpRegStaffCert
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.qlmsoft.crawler.entity.CorpRegStaffCertExample">
    delete from CorpRegStaffCert
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.qlmsoft.crawler.entity.CorpRegStaffCert" useGeneratedKeys="true">
    insert into CorpRegStaffCert (staff_id, staff_id_card, reg_type, 
      reg_type_id, reg_major, reg_major_id, 
      cert_no, reg_no, valid_date, 
      create_time, update_time, status, 
      staff_id_card2)
    values (#{staffId,jdbcType=INTEGER}, #{staffIdCard,jdbcType=VARCHAR}, #{regType,jdbcType=VARCHAR}, 
      #{regTypeId,jdbcType=INTEGER}, #{regMajor,jdbcType=VARCHAR}, #{regMajorId,jdbcType=INTEGER}, 
      #{certNo,jdbcType=VARCHAR}, #{regNo,jdbcType=VARCHAR}, #{validDate,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, 
      #{staffIdCard2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.qlmsoft.crawler.entity.CorpRegStaffCert" useGeneratedKeys="true">
    insert into CorpRegStaffCert
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="staffId != null">
        staff_id,
      </if>
      <if test="staffIdCard != null">
        staff_id_card,
      </if>
      <if test="regType != null">
        reg_type,
      </if>
      <if test="regTypeId != null">
        reg_type_id,
      </if>
      <if test="regMajor != null">
        reg_major,
      </if>
      <if test="regMajorId != null">
        reg_major_id,
      </if>
      <if test="certNo != null">
        cert_no,
      </if>
      <if test="regNo != null">
        reg_no,
      </if>
      <if test="validDate != null">
        valid_date,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="staffIdCard2 != null">
        staff_id_card2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="staffId != null">
        #{staffId,jdbcType=INTEGER},
      </if>
      <if test="staffIdCard != null">
        #{staffIdCard,jdbcType=VARCHAR},
      </if>
      <if test="regType != null">
        #{regType,jdbcType=VARCHAR},
      </if>
      <if test="regTypeId != null">
        #{regTypeId,jdbcType=INTEGER},
      </if>
      <if test="regMajor != null">
        #{regMajor,jdbcType=VARCHAR},
      </if>
      <if test="regMajorId != null">
        #{regMajorId,jdbcType=INTEGER},
      </if>
      <if test="certNo != null">
        #{certNo,jdbcType=VARCHAR},
      </if>
      <if test="regNo != null">
        #{regNo,jdbcType=VARCHAR},
      </if>
      <if test="validDate != null">
        #{validDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="staffIdCard2 != null">
        #{staffIdCard2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qlmsoft.crawler.entity.CorpRegStaffCertExample" resultType="java.lang.Long">
    select count(*) from CorpRegStaffCert
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update CorpRegStaffCert
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.staffId != null">
        staff_id = #{record.staffId,jdbcType=INTEGER},
      </if>
      <if test="record.staffIdCard != null">
        staff_id_card = #{record.staffIdCard,jdbcType=VARCHAR},
      </if>
      <if test="record.regType != null">
        reg_type = #{record.regType,jdbcType=VARCHAR},
      </if>
      <if test="record.regTypeId != null">
        reg_type_id = #{record.regTypeId,jdbcType=INTEGER},
      </if>
      <if test="record.regMajor != null">
        reg_major = #{record.regMajor,jdbcType=VARCHAR},
      </if>
      <if test="record.regMajorId != null">
        reg_major_id = #{record.regMajorId,jdbcType=INTEGER},
      </if>
      <if test="record.certNo != null">
        cert_no = #{record.certNo,jdbcType=VARCHAR},
      </if>
      <if test="record.regNo != null">
        reg_no = #{record.regNo,jdbcType=VARCHAR},
      </if>
      <if test="record.validDate != null">
        valid_date = #{record.validDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.staffIdCard2 != null">
        staff_id_card2 = #{record.staffIdCard2,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update CorpRegStaffCert
    set id = #{record.id,jdbcType=INTEGER},
      staff_id = #{record.staffId,jdbcType=INTEGER},
      staff_id_card = #{record.staffIdCard,jdbcType=VARCHAR},
      reg_type = #{record.regType,jdbcType=VARCHAR},
      reg_type_id = #{record.regTypeId,jdbcType=INTEGER},
      reg_major = #{record.regMajor,jdbcType=VARCHAR},
      reg_major_id = #{record.regMajorId,jdbcType=INTEGER},
      cert_no = #{record.certNo,jdbcType=VARCHAR},
      reg_no = #{record.regNo,jdbcType=VARCHAR},
      valid_date = #{record.validDate,jdbcType=TIMESTAMP},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      status = #{record.status,jdbcType=INTEGER},
      staff_id_card2 = #{record.staffIdCard2,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qlmsoft.crawler.entity.CorpRegStaffCert">
    update CorpRegStaffCert
    <set>
      <if test="staffId != null">
        staff_id = #{staffId,jdbcType=INTEGER},
      </if>
      <if test="staffIdCard != null">
        staff_id_card = #{staffIdCard,jdbcType=VARCHAR},
      </if>
      <if test="regType != null">
        reg_type = #{regType,jdbcType=VARCHAR},
      </if>
      <if test="regTypeId != null">
        reg_type_id = #{regTypeId,jdbcType=INTEGER},
      </if>
      <if test="regMajor != null">
        reg_major = #{regMajor,jdbcType=VARCHAR},
      </if>
      <if test="regMajorId != null">
        reg_major_id = #{regMajorId,jdbcType=INTEGER},
      </if>
      <if test="certNo != null">
        cert_no = #{certNo,jdbcType=VARCHAR},
      </if>
      <if test="regNo != null">
        reg_no = #{regNo,jdbcType=VARCHAR},
      </if>
      <if test="validDate != null">
        valid_date = #{validDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="staffIdCard2 != null">
        staff_id_card2 = #{staffIdCard2,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qlmsoft.crawler.entity.CorpRegStaffCert">
    update CorpRegStaffCert
    set staff_id = #{staffId,jdbcType=INTEGER},
      staff_id_card = #{staffIdCard,jdbcType=VARCHAR},
      reg_type = #{regType,jdbcType=VARCHAR},
      reg_type_id = #{regTypeId,jdbcType=INTEGER},
      reg_major = #{regMajor,jdbcType=VARCHAR},
      reg_major_id = #{regMajorId,jdbcType=INTEGER},
      cert_no = #{certNo,jdbcType=VARCHAR},
      reg_no = #{regNo,jdbcType=VARCHAR},
      valid_date = #{validDate,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      staff_id_card2 = #{staffIdCard2,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.qlmsoft.crawler.entity.CorpRegStaffCertExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CorpRegStaffCert
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>