<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qlmsoft.crawler.mapper.QycsywMapper">
  <resultMap id="BaseResultMap" type="com.qlmsoft.crawler.entity.Qycsyw">
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="qyID" jdbcType="VARCHAR" property="qyid" />
    <result column="csywlxID" jdbcType="INTEGER" property="csywlxid" />
    <result column="csywlx" jdbcType="NVARCHAR" property="csywlx" />
    <result column="balxID" jdbcType="INTEGER" property="balxid" />
    <result column="balx" jdbcType="NVARCHAR" property="balx" />
    <result column="DataState" jdbcType="INTEGER" property="datastate" />
    <result column="tag" jdbcType="VARCHAR" property="tag" />
    <result column="xgr" jdbcType="NVARCHAR" property="xgr" />
    <result column="xgrqsj" jdbcType="TIMESTAMP" property="xgrqsj" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    Id, qyID, csywlxID, csywlx, balxID, balx, DataState, tag, xgr, xgrqsj
  </sql>
  <select id="selectByExample" parameterType="com.qlmsoft.crawler.entity.QycsywExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from UEPP_Qycsyw
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from UEPP_Qycsyw
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from UEPP_Qycsyw
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.qlmsoft.crawler.entity.QycsywExample">
    delete from UEPP_Qycsyw
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qlmsoft.crawler.entity.Qycsyw">
    insert into UEPP_Qycsyw (qyID, csywlxID, 
      csywlx, balxID, balx, 
      DataState, tag, xgr, 
      xgrqsj)
    values (#{qyid,jdbcType=VARCHAR}, #{csywlxid,jdbcType=INTEGER}, 
      #{csywlx,jdbcType=NVARCHAR}, #{balxid,jdbcType=INTEGER}, #{balx,jdbcType=NVARCHAR}, 
      #{datastate,jdbcType=INTEGER}, #{tag,jdbcType=VARCHAR}, #{xgr,jdbcType=NVARCHAR}, 
      #{xgrqsj,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.qlmsoft.crawler.entity.Qycsyw">
    insert into UEPP_Qycsyw
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="qyid != null">
        qyID,
      </if>
      <if test="csywlxid != null">
        csywlxID,
      </if>
      <if test="csywlx != null">
        csywlx,
      </if>
      <if test="balxid != null">
        balxID,
      </if>
      <if test="balx != null">
        balx,
      </if>
      <if test="datastate != null">
        DataState,
      </if>
      <if test="tag != null">
        tag,
      </if>
      <if test="xgr != null">
        xgr,
      </if>
      <if test="xgrqsj != null">
        xgrqsj,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="qyid != null">
        #{qyid,jdbcType=VARCHAR},
      </if>
      <if test="csywlxid != null">
        #{csywlxid,jdbcType=INTEGER},
      </if>
      <if test="csywlx != null">
        #{csywlx,jdbcType=NVARCHAR},
      </if>
      <if test="balxid != null">
        #{balxid,jdbcType=INTEGER},
      </if>
      <if test="balx != null">
        #{balx,jdbcType=NVARCHAR},
      </if>
      <if test="datastate != null">
        #{datastate,jdbcType=INTEGER},
      </if>
      <if test="tag != null">
        #{tag,jdbcType=VARCHAR},
      </if>
      <if test="xgr != null">
        #{xgr,jdbcType=NVARCHAR},
      </if>
      <if test="xgrqsj != null">
        #{xgrqsj,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qlmsoft.crawler.entity.QycsywExample" resultType="java.lang.Long">
    select count(*) from UEPP_Qycsyw
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update UEPP_Qycsyw
    <set>
      <if test="record.id != null">
        Id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.qyid != null">
        qyID = #{record.qyid,jdbcType=VARCHAR},
      </if>
      <if test="record.csywlxid != null">
        csywlxID = #{record.csywlxid,jdbcType=INTEGER},
      </if>
      <if test="record.csywlx != null">
        csywlx = #{record.csywlx,jdbcType=NVARCHAR},
      </if>
      <if test="record.balxid != null">
        balxID = #{record.balxid,jdbcType=INTEGER},
      </if>
      <if test="record.balx != null">
        balx = #{record.balx,jdbcType=NVARCHAR},
      </if>
      <if test="record.datastate != null">
        DataState = #{record.datastate,jdbcType=INTEGER},
      </if>
      <if test="record.tag != null">
        tag = #{record.tag,jdbcType=VARCHAR},
      </if>
      <if test="record.xgr != null">
        xgr = #{record.xgr,jdbcType=NVARCHAR},
      </if>
      <if test="record.xgrqsj != null">
        xgrqsj = #{record.xgrqsj,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update UEPP_Qycsyw
    set Id = #{record.id,jdbcType=INTEGER},
      qyID = #{record.qyid,jdbcType=VARCHAR},
      csywlxID = #{record.csywlxid,jdbcType=INTEGER},
      csywlx = #{record.csywlx,jdbcType=NVARCHAR},
      balxID = #{record.balxid,jdbcType=INTEGER},
      balx = #{record.balx,jdbcType=NVARCHAR},
      DataState = #{record.datastate,jdbcType=INTEGER},
      tag = #{record.tag,jdbcType=VARCHAR},
      xgr = #{record.xgr,jdbcType=NVARCHAR},
      xgrqsj = #{record.xgrqsj,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qlmsoft.crawler.entity.Qycsyw">
    update UEPP_Qycsyw
    <set>
      <if test="qyid != null">
        qyID = #{qyid,jdbcType=VARCHAR},
      </if>
      <if test="csywlxid != null">
        csywlxID = #{csywlxid,jdbcType=INTEGER},
      </if>
      <if test="csywlx != null">
        csywlx = #{csywlx,jdbcType=NVARCHAR},
      </if>
      <if test="balxid != null">
        balxID = #{balxid,jdbcType=INTEGER},
      </if>
      <if test="balx != null">
        balx = #{balx,jdbcType=NVARCHAR},
      </if>
      <if test="datastate != null">
        DataState = #{datastate,jdbcType=INTEGER},
      </if>
      <if test="tag != null">
        tag = #{tag,jdbcType=VARCHAR},
      </if>
      <if test="xgr != null">
        xgr = #{xgr,jdbcType=NVARCHAR},
      </if>
      <if test="xgrqsj != null">
        xgrqsj = #{xgrqsj,jdbcType=TIMESTAMP},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qlmsoft.crawler.entity.Qycsyw">
    update UEPP_Qycsyw
    set qyID = #{qyid,jdbcType=VARCHAR},
      csywlxID = #{csywlxid,jdbcType=INTEGER},
      csywlx = #{csywlx,jdbcType=NVARCHAR},
      balxID = #{balxid,jdbcType=INTEGER},
      balx = #{balx,jdbcType=NVARCHAR},
      DataState = #{datastate,jdbcType=INTEGER},
      tag = #{tag,jdbcType=VARCHAR},
      xgr = #{xgr,jdbcType=NVARCHAR},
      xgrqsj = #{xgrqsj,jdbcType=TIMESTAMP}
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.qlmsoft.crawler.entity.QycsywExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from UEPP_Qycsyw
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>