<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qlmsoft.crawler.mapper.QyzsMapper">
  <resultMap id="BaseResultMap" type="com.qlmsoft.crawler.entity.Qyzs">
    <id column="zsjlId" jdbcType="VARCHAR" property="zsjlid" />
    <result column="qyID" jdbcType="VARCHAR" property="qyid" />
    <result column="csywlxID" jdbcType="INTEGER" property="csywlxid" />
    <result column="csywlx" jdbcType="NVARCHAR" property="csywlx" />
    <result column="zslxID" jdbcType="INTEGER" property="zslxid" />
    <result column="zslx" jdbcType="NVARCHAR" property="zslx" />
    <result column="sfzzz" jdbcType="INTEGER" property="sfzzz" />
    <result column="zsbh" jdbcType="VARCHAR" property="zsbh" />
    <result column="zsyxqrq" jdbcType="TIMESTAMP" property="zsyxqrq" />
    <result column="zsyxzrq" jdbcType="TIMESTAMP" property="zsyxzrq" />
    <result column="fzdw" jdbcType="NVARCHAR" property="fzdw" />
    <result column="fzrq" jdbcType="TIMESTAMP" property="fzrq" />
    <result column="bz" jdbcType="NVARCHAR" property="bz" />
    <result column="tag" jdbcType="VARCHAR" property="tag" />
    <result column="xgr" jdbcType="NVARCHAR" property="xgr" />
    <result column="xgrqsj" jdbcType="TIMESTAMP" property="xgrqsj" />
    <result column="DataState" jdbcType="INTEGER" property="datastate" />
    <result column="PrintNo" jdbcType="VARCHAR" property="printno" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    zsjlId, qyID, csywlxID, csywlx, zslxID, zslx, sfzzz, zsbh, zsyxqrq, zsyxzrq, fzdw, 
    fzrq, bz, tag, xgr, xgrqsj, DataState, PrintNo
  </sql>
  <select id="selectByExample" parameterType="com.qlmsoft.crawler.entity.QyzsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from UEPP_Qyzs
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from UEPP_Qyzs
    where zsjlId = #{zsjlid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from UEPP_Qyzs
    where zsjlId = #{zsjlid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.qlmsoft.crawler.entity.QyzsExample">
    delete from UEPP_Qyzs
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qlmsoft.crawler.entity.Qyzs">
    insert into UEPP_Qyzs (zsjlId,qyID, csywlxID, 
      csywlx, zslxID, zslx, 
      sfzzz, zsbh, zsyxqrq, 
      zsyxzrq, fzdw, fzrq, 
      bz, tag, xgr, xgrqsj, 
      DataState, PrintNo)
    values (#{zsjlid,jdbcType=VARCHAR}, #{qyid,jdbcType=VARCHAR}, #{csywlxid,jdbcType=INTEGER}, 
      #{csywlx,jdbcType=NVARCHAR}, #{zslxid,jdbcType=INTEGER}, #{zslx,jdbcType=NVARCHAR}, 
      #{sfzzz,jdbcType=INTEGER}, #{zsbh,jdbcType=VARCHAR}, #{zsyxqrq,jdbcType=TIMESTAMP}, 
      #{zsyxzrq,jdbcType=TIMESTAMP}, #{fzdw,jdbcType=NVARCHAR}, #{fzrq,jdbcType=TIMESTAMP}, 
      #{bz,jdbcType=NVARCHAR}, #{tag,jdbcType=VARCHAR}, #{xgr,jdbcType=NVARCHAR}, #{xgrqsj,jdbcType=TIMESTAMP}, 
      #{datastate,jdbcType=INTEGER}, #{printno,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qlmsoft.crawler.entity.Qyzs">
    insert into UEPP_Qyzs
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="zsjlid != null">
        zsjlId,
      </if>
      <if test="qyid != null">
        qyID,
      </if>
      <if test="csywlxid != null">
        csywlxID,
      </if>
      <if test="csywlx != null">
        csywlx,
      </if>
      <if test="zslxid != null">
        zslxID,
      </if>
      <if test="zslx != null">
        zslx,
      </if>
      <if test="sfzzz != null">
        sfzzz,
      </if>
      <if test="zsbh != null">
        zsbh,
      </if>
      <if test="zsyxqrq != null">
        zsyxqrq,
      </if>
      <if test="zsyxzrq != null">
        zsyxzrq,
      </if>
      <if test="fzdw != null">
        fzdw,
      </if>
      <if test="fzrq != null">
        fzrq,
      </if>
      <if test="bz != null">
        bz,
      </if>
      <if test="tag != null">
        tag,
      </if>
      <if test="xgr != null">
        xgr,
      </if>
      <if test="xgrqsj != null">
        xgrqsj,
      </if>
      <if test="datastate != null">
        DataState,
      </if>
      <if test="printno != null">
        PrintNo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="zsjlid != null">
        #{zsjlid,jdbcType=VARCHAR},
      </if>
      <if test="qyid != null">
        #{qyid,jdbcType=VARCHAR},
      </if>
      <if test="csywlxid != null">
        #{csywlxid,jdbcType=INTEGER},
      </if>
      <if test="csywlx != null">
        #{csywlx,jdbcType=NVARCHAR},
      </if>
      <if test="zslxid != null">
        #{zslxid,jdbcType=INTEGER},
      </if>
      <if test="zslx != null">
        #{zslx,jdbcType=NVARCHAR},
      </if>
      <if test="sfzzz != null">
        #{sfzzz,jdbcType=INTEGER},
      </if>
      <if test="zsbh != null">
        #{zsbh,jdbcType=VARCHAR},
      </if>
      <if test="zsyxqrq != null">
        #{zsyxqrq,jdbcType=TIMESTAMP},
      </if>
      <if test="zsyxzrq != null">
        #{zsyxzrq,jdbcType=TIMESTAMP},
      </if>
      <if test="fzdw != null">
        #{fzdw,jdbcType=NVARCHAR},
      </if>
      <if test="fzrq != null">
        #{fzrq,jdbcType=TIMESTAMP},
      </if>
      <if test="bz != null">
        #{bz,jdbcType=NVARCHAR},
      </if>
      <if test="tag != null">
        #{tag,jdbcType=VARCHAR},
      </if>
      <if test="xgr != null">
        #{xgr,jdbcType=NVARCHAR},
      </if>
      <if test="xgrqsj != null">
        #{xgrqsj,jdbcType=TIMESTAMP},
      </if>
      <if test="datastate != null">
        #{datastate,jdbcType=INTEGER},
      </if>
      <if test="printno != null">
        #{printno,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qlmsoft.crawler.entity.QyzsExample" resultType="java.lang.Long">
    select count(*) from UEPP_Qyzs
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  
  <select id="queryQyzsID" resultType="java.lang.String">
     select ISNULL(MAX(CONVERT(int ,zsjlId)),0)+1 from UEPP_Qyzs
  </select>
  
  
  <update id="updateByExampleSelective" parameterType="map">
    update UEPP_Qyzs
    <set>
      <if test="record.zsjlid != null">
        zsjlId = #{record.zsjlid,jdbcType=VARCHAR},
      </if>
      <if test="record.qyid != null">
        qyID = #{record.qyid,jdbcType=VARCHAR},
      </if>
      <if test="record.csywlxid != null">
        csywlxID = #{record.csywlxid,jdbcType=INTEGER},
      </if>
      <if test="record.csywlx != null">
        csywlx = #{record.csywlx,jdbcType=NVARCHAR},
      </if>
      <if test="record.zslxid != null">
        zslxID = #{record.zslxid,jdbcType=INTEGER},
      </if>
      <if test="record.zslx != null">
        zslx = #{record.zslx,jdbcType=NVARCHAR},
      </if>
      <if test="record.sfzzz != null">
        sfzzz = #{record.sfzzz,jdbcType=INTEGER},
      </if>
      <if test="record.zsbh != null">
        zsbh = #{record.zsbh,jdbcType=VARCHAR},
      </if>
      <if test="record.zsyxqrq != null">
        zsyxqrq = #{record.zsyxqrq,jdbcType=TIMESTAMP},
      </if>
      <if test="record.zsyxzrq != null">
        zsyxzrq = #{record.zsyxzrq,jdbcType=TIMESTAMP},
      </if>
      <if test="record.fzdw != null">
        fzdw = #{record.fzdw,jdbcType=NVARCHAR},
      </if>
      <if test="record.fzrq != null">
        fzrq = #{record.fzrq,jdbcType=TIMESTAMP},
      </if>
      <if test="record.bz != null">
        bz = #{record.bz,jdbcType=NVARCHAR},
      </if>
      <if test="record.tag != null">
        tag = #{record.tag,jdbcType=VARCHAR},
      </if>
      <if test="record.xgr != null">
        xgr = #{record.xgr,jdbcType=NVARCHAR},
      </if>
      <if test="record.xgrqsj != null">
        xgrqsj = #{record.xgrqsj,jdbcType=TIMESTAMP},
      </if>
      <if test="record.datastate != null">
        DataState = #{record.datastate,jdbcType=INTEGER},
      </if>
      <if test="record.printno != null">
        PrintNo = #{record.printno,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update UEPP_Qyzs
    set zsjlId = #{record.zsjlid,jdbcType=VARCHAR},
      qyID = #{record.qyid,jdbcType=VARCHAR},
      csywlxID = #{record.csywlxid,jdbcType=INTEGER},
      csywlx = #{record.csywlx,jdbcType=NVARCHAR},
      zslxID = #{record.zslxid,jdbcType=INTEGER},
      zslx = #{record.zslx,jdbcType=NVARCHAR},
      sfzzz = #{record.sfzzz,jdbcType=INTEGER},
      zsbh = #{record.zsbh,jdbcType=VARCHAR},
      zsyxqrq = #{record.zsyxqrq,jdbcType=TIMESTAMP},
      zsyxzrq = #{record.zsyxzrq,jdbcType=TIMESTAMP},
      fzdw = #{record.fzdw,jdbcType=NVARCHAR},
      fzrq = #{record.fzrq,jdbcType=TIMESTAMP},
      bz = #{record.bz,jdbcType=NVARCHAR},
      tag = #{record.tag,jdbcType=VARCHAR},
      xgr = #{record.xgr,jdbcType=NVARCHAR},
      xgrqsj = #{record.xgrqsj,jdbcType=TIMESTAMP},
      DataState = #{record.datastate,jdbcType=INTEGER},
      PrintNo = #{record.printno,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qlmsoft.crawler.entity.Qyzs">
    update UEPP_Qyzs
    <set>
      <if test="qyid != null">
        qyID = #{qyid,jdbcType=VARCHAR},
      </if>
      <if test="csywlxid != null">
        csywlxID = #{csywlxid,jdbcType=INTEGER},
      </if>
      <if test="csywlx != null">
        csywlx = #{csywlx,jdbcType=NVARCHAR},
      </if>
      <if test="zslxid != null">
        zslxID = #{zslxid,jdbcType=INTEGER},
      </if>
      <if test="zslx != null">
        zslx = #{zslx,jdbcType=NVARCHAR},
      </if>
      <if test="sfzzz != null">
        sfzzz = #{sfzzz,jdbcType=INTEGER},
      </if>
      <if test="zsbh != null">
        zsbh = #{zsbh,jdbcType=VARCHAR},
      </if>
      <if test="zsyxqrq != null">
        zsyxqrq = #{zsyxqrq,jdbcType=TIMESTAMP},
      </if>
      <if test="zsyxzrq != null">
        zsyxzrq = #{zsyxzrq,jdbcType=TIMESTAMP},
      </if>
      <if test="fzdw != null">
        fzdw = #{fzdw,jdbcType=NVARCHAR},
      </if>
      <if test="fzrq != null">
        fzrq = #{fzrq,jdbcType=TIMESTAMP},
      </if>
      <if test="bz != null">
        bz = #{bz,jdbcType=NVARCHAR},
      </if>
      <if test="tag != null">
        tag = #{tag,jdbcType=VARCHAR},
      </if>
      <if test="xgr != null">
        xgr = #{xgr,jdbcType=NVARCHAR},
      </if>
      <if test="xgrqsj != null">
        xgrqsj = #{xgrqsj,jdbcType=TIMESTAMP},
      </if>
      <if test="datastate != null">
        DataState = #{datastate,jdbcType=INTEGER},
      </if>
      <if test="printno != null">
        PrintNo = #{printno,jdbcType=VARCHAR},
      </if>
    </set>
    where zsjlId = #{zsjlid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qlmsoft.crawler.entity.Qyzs">
    update UEPP_Qyzs
    set qyID = #{qyid,jdbcType=VARCHAR},
      csywlxID = #{csywlxid,jdbcType=INTEGER},
      csywlx = #{csywlx,jdbcType=NVARCHAR},
      zslxID = #{zslxid,jdbcType=INTEGER},
      zslx = #{zslx,jdbcType=NVARCHAR},
      sfzzz = #{sfzzz,jdbcType=INTEGER},
      zsbh = #{zsbh,jdbcType=VARCHAR},
      zsyxqrq = #{zsyxqrq,jdbcType=TIMESTAMP},
      zsyxzrq = #{zsyxzrq,jdbcType=TIMESTAMP},
      fzdw = #{fzdw,jdbcType=NVARCHAR},
      fzrq = #{fzrq,jdbcType=TIMESTAMP},
      bz = #{bz,jdbcType=NVARCHAR},
      tag = #{tag,jdbcType=VARCHAR},
      xgr = #{xgr,jdbcType=NVARCHAR},
      xgrqsj = #{xgrqsj,jdbcType=TIMESTAMP},
      DataState = #{datastate,jdbcType=INTEGER},
      PrintNo = #{printno,jdbcType=VARCHAR}
    where zsjlId = #{zsjlid,jdbcType=VARCHAR}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.qlmsoft.crawler.entity.QyzsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from UEPP_Qyzs
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>