<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qlmsoft.crawler.mapper.QyzzmxMapper">
  <resultMap id="BaseResultMap" type="com.qlmsoft.crawler.entity.Qyzzmx">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="qyID" jdbcType="VARCHAR" property="qyid" />
    <result column="csywlxID" jdbcType="INTEGER" property="csywlxid" />
    <result column="csywlx" jdbcType="NVARCHAR" property="csywlx" />
    <result column="zslxID" jdbcType="INTEGER" property="zslxid" />
    <result column="zslx" jdbcType="NVARCHAR" property="zslx" />
    <result column="zzbz" jdbcType="NVARCHAR" property="zzbz" />
    <result column="zzxlID" jdbcType="INTEGER" property="zzxlid" />
    <result column="zzxl" jdbcType="NVARCHAR" property="zzxl" />
    <result column="zzhyID" jdbcType="INTEGER" property="zzhyid" />
    <result column="zzhy" jdbcType="NVARCHAR" property="zzhy" />
    <result column="zzlbID" jdbcType="INTEGER" property="zzlbid" />
    <result column="zzlb" jdbcType="NVARCHAR" property="zzlb" />
    <result column="zzdjID" jdbcType="INTEGER" property="zzdjid" />
    <result column="zzdj" jdbcType="NVARCHAR" property="zzdj" />
    <result column="cjywfw" jdbcType="NVARCHAR" property="cjywfw" />
    <result column="bz" jdbcType="NVARCHAR" property="bz" />
    <result column="tag" jdbcType="VARCHAR" property="tag" />
    <result column="xgr" jdbcType="NVARCHAR" property="xgr" />
    <result column="xgrqsj" jdbcType="TIMESTAMP" property="xgrqsj" />
    <result column="DataState" jdbcType="INTEGER" property="datastate" />
    <result column="zsbh" jdbcType="VARCHAR" property="zsbh" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, qyID, csywlxID, csywlx, zslxID, zslx, zzbz, zzxlID, zzxl, zzhyID, zzhy, zzlbID, 
    zzlb, zzdjID, zzdj, cjywfw, bz, tag, xgr, xgrqsj, DataState, zsbh
  </sql>
  <select id="selectByExample" parameterType="com.qlmsoft.crawler.entity.QyzzmxExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from UEPP_Qyzzmx
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from UEPP_Qyzzmx
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from UEPP_Qyzzmx
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.qlmsoft.crawler.entity.QyzzmxExample">
    delete from UEPP_Qyzzmx
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qlmsoft.crawler.entity.Qyzzmx">
    insert into UEPP_Qyzzmx ( qyID, csywlxID, 
      csywlx, zslxID, zslx, 
      zzbz, zzxlID, zzxl, 
      zzhyID, zzhy, zzlbID, 
      zzlb, zzdjID, zzdj, 
      cjywfw, bz, tag, 
      xgr, xgrqsj, DataState, 
      zsbh)
    values (#{qyid,jdbcType=VARCHAR}, #{csywlxid,jdbcType=INTEGER}, 
      #{csywlx,jdbcType=NVARCHAR}, #{zslxid,jdbcType=INTEGER}, #{zslx,jdbcType=NVARCHAR}, 
      #{zzbz,jdbcType=NVARCHAR}, #{zzxlid,jdbcType=INTEGER}, #{zzxl,jdbcType=NVARCHAR}, 
      #{zzhyid,jdbcType=INTEGER}, #{zzhy,jdbcType=NVARCHAR}, #{zzlbid,jdbcType=INTEGER}, 
      #{zzlb,jdbcType=NVARCHAR}, #{zzdjid,jdbcType=INTEGER}, #{zzdj,jdbcType=NVARCHAR}, 
      #{cjywfw,jdbcType=NVARCHAR}, #{bz,jdbcType=NVARCHAR}, #{tag,jdbcType=VARCHAR}, 
      #{xgr,jdbcType=NVARCHAR}, #{xgrqsj,jdbcType=TIMESTAMP}, #{datastate,jdbcType=INTEGER}, 
      #{zsbh,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qlmsoft.crawler.entity.Qyzzmx">
    insert into UEPP_Qyzzmx
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="qyid != null">
        qyID,
      </if>
      <if test="csywlxid != null">
        csywlxID,
      </if>
      <if test="csywlx != null">
        csywlx,
      </if>
      <if test="zslxid != null">
        zslxID,
      </if>
      <if test="zslx != null">
        zslx,
      </if>
      <if test="zzbz != null">
        zzbz,
      </if>
      <if test="zzxlid != null">
        zzxlID,
      </if>
      <if test="zzxl != null">
        zzxl,
      </if>
      <if test="zzhyid != null">
        zzhyID,
      </if>
      <if test="zzhy != null">
        zzhy,
      </if>
      <if test="zzlbid != null">
        zzlbID,
      </if>
      <if test="zzlb != null">
        zzlb,
      </if>
      <if test="zzdjid != null">
        zzdjID,
      </if>
      <if test="zzdj != null">
        zzdj,
      </if>
      <if test="cjywfw != null">
        cjywfw,
      </if>
      <if test="bz != null">
        bz,
      </if>
      <if test="tag != null">
        tag,
      </if>
      <if test="xgr != null">
        xgr,
      </if>
      <if test="xgrqsj != null">
        xgrqsj,
      </if>
      <if test="datastate != null">
        DataState,
      </if>
      <if test="zsbh != null">
        zsbh,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="qyid != null">
        #{qyid,jdbcType=VARCHAR},
      </if>
      <if test="csywlxid != null">
        #{csywlxid,jdbcType=INTEGER},
      </if>
      <if test="csywlx != null">
        #{csywlx,jdbcType=NVARCHAR},
      </if>
      <if test="zslxid != null">
        #{zslxid,jdbcType=INTEGER},
      </if>
      <if test="zslx != null">
        #{zslx,jdbcType=NVARCHAR},
      </if>
      <if test="zzbz != null">
        #{zzbz,jdbcType=NVARCHAR},
      </if>
      <if test="zzxlid != null">
        #{zzxlid,jdbcType=INTEGER},
      </if>
      <if test="zzxl != null">
        #{zzxl,jdbcType=NVARCHAR},
      </if>
      <if test="zzhyid != null">
        #{zzhyid,jdbcType=INTEGER},
      </if>
      <if test="zzhy != null">
        #{zzhy,jdbcType=NVARCHAR},
      </if>
      <if test="zzlbid != null">
        #{zzlbid,jdbcType=INTEGER},
      </if>
      <if test="zzlb != null">
        #{zzlb,jdbcType=NVARCHAR},
      </if>
      <if test="zzdjid != null">
        #{zzdjid,jdbcType=INTEGER},
      </if>
      <if test="zzdj != null">
        #{zzdj,jdbcType=NVARCHAR},
      </if>
      <if test="cjywfw != null">
        #{cjywfw,jdbcType=NVARCHAR},
      </if>
      <if test="bz != null">
        #{bz,jdbcType=NVARCHAR},
      </if>
      <if test="tag != null">
        #{tag,jdbcType=VARCHAR},
      </if>
      <if test="xgr != null">
        #{xgr,jdbcType=NVARCHAR},
      </if>
      <if test="xgrqsj != null">
        #{xgrqsj,jdbcType=TIMESTAMP},
      </if>
      <if test="datastate != null">
        #{datastate,jdbcType=INTEGER},
      </if>
      <if test="zsbh != null">
        #{zsbh,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qlmsoft.crawler.entity.QyzzmxExample" resultType="java.lang.Long">
    select count(*) from UEPP_Qyzzmx
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update UEPP_Qyzzmx
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.qyid != null">
        qyID = #{record.qyid,jdbcType=VARCHAR},
      </if>
      <if test="record.csywlxid != null">
        csywlxID = #{record.csywlxid,jdbcType=INTEGER},
      </if>
      <if test="record.csywlx != null">
        csywlx = #{record.csywlx,jdbcType=NVARCHAR},
      </if>
      <if test="record.zslxid != null">
        zslxID = #{record.zslxid,jdbcType=INTEGER},
      </if>
      <if test="record.zslx != null">
        zslx = #{record.zslx,jdbcType=NVARCHAR},
      </if>
      <if test="record.zzbz != null">
        zzbz = #{record.zzbz,jdbcType=NVARCHAR},
      </if>
      <if test="record.zzxlid != null">
        zzxlID = #{record.zzxlid,jdbcType=INTEGER},
      </if>
      <if test="record.zzxl != null">
        zzxl = #{record.zzxl,jdbcType=NVARCHAR},
      </if>
      <if test="record.zzhyid != null">
        zzhyID = #{record.zzhyid,jdbcType=INTEGER},
      </if>
      <if test="record.zzhy != null">
        zzhy = #{record.zzhy,jdbcType=NVARCHAR},
      </if>
      <if test="record.zzlbid != null">
        zzlbID = #{record.zzlbid,jdbcType=INTEGER},
      </if>
      <if test="record.zzlb != null">
        zzlb = #{record.zzlb,jdbcType=NVARCHAR},
      </if>
      <if test="record.zzdjid != null">
        zzdjID = #{record.zzdjid,jdbcType=INTEGER},
      </if>
      <if test="record.zzdj != null">
        zzdj = #{record.zzdj,jdbcType=NVARCHAR},
      </if>
      <if test="record.cjywfw != null">
        cjywfw = #{record.cjywfw,jdbcType=NVARCHAR},
      </if>
      <if test="record.bz != null">
        bz = #{record.bz,jdbcType=NVARCHAR},
      </if>
      <if test="record.tag != null">
        tag = #{record.tag,jdbcType=VARCHAR},
      </if>
      <if test="record.xgr != null">
        xgr = #{record.xgr,jdbcType=NVARCHAR},
      </if>
      <if test="record.xgrqsj != null">
        xgrqsj = #{record.xgrqsj,jdbcType=TIMESTAMP},
      </if>
      <if test="record.datastate != null">
        DataState = #{record.datastate,jdbcType=INTEGER},
      </if>
      <if test="record.zsbh != null">
        zsbh = #{record.zsbh,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update UEPP_Qyzzmx
    set ID = #{record.id,jdbcType=INTEGER},
      qyID = #{record.qyid,jdbcType=VARCHAR},
      csywlxID = #{record.csywlxid,jdbcType=INTEGER},
      csywlx = #{record.csywlx,jdbcType=NVARCHAR},
      zslxID = #{record.zslxid,jdbcType=INTEGER},
      zslx = #{record.zslx,jdbcType=NVARCHAR},
      zzbz = #{record.zzbz,jdbcType=NVARCHAR},
      zzxlID = #{record.zzxlid,jdbcType=INTEGER},
      zzxl = #{record.zzxl,jdbcType=NVARCHAR},
      zzhyID = #{record.zzhyid,jdbcType=INTEGER},
      zzhy = #{record.zzhy,jdbcType=NVARCHAR},
      zzlbID = #{record.zzlbid,jdbcType=INTEGER},
      zzlb = #{record.zzlb,jdbcType=NVARCHAR},
      zzdjID = #{record.zzdjid,jdbcType=INTEGER},
      zzdj = #{record.zzdj,jdbcType=NVARCHAR},
      cjywfw = #{record.cjywfw,jdbcType=NVARCHAR},
      bz = #{record.bz,jdbcType=NVARCHAR},
      tag = #{record.tag,jdbcType=VARCHAR},
      xgr = #{record.xgr,jdbcType=NVARCHAR},
      xgrqsj = #{record.xgrqsj,jdbcType=TIMESTAMP},
      DataState = #{record.datastate,jdbcType=INTEGER},
      zsbh = #{record.zsbh,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qlmsoft.crawler.entity.Qyzzmx">
    update UEPP_Qyzzmx
    <set>
      <if test="qyid != null">
        qyID = #{qyid,jdbcType=VARCHAR},
      </if>
      <if test="csywlxid != null">
        csywlxID = #{csywlxid,jdbcType=INTEGER},
      </if>
      <if test="csywlx != null">
        csywlx = #{csywlx,jdbcType=NVARCHAR},
      </if>
      <if test="zslxid != null">
        zslxID = #{zslxid,jdbcType=INTEGER},
      </if>
      <if test="zslx != null">
        zslx = #{zslx,jdbcType=NVARCHAR},
      </if>
      <if test="zzbz != null">
        zzbz = #{zzbz,jdbcType=NVARCHAR},
      </if>
      <if test="zzxlid != null">
        zzxlID = #{zzxlid,jdbcType=INTEGER},
      </if>
      <if test="zzxl != null">
        zzxl = #{zzxl,jdbcType=NVARCHAR},
      </if>
      <if test="zzhyid != null">
        zzhyID = #{zzhyid,jdbcType=INTEGER},
      </if>
      <if test="zzhy != null">
        zzhy = #{zzhy,jdbcType=NVARCHAR},
      </if>
      <if test="zzlbid != null">
        zzlbID = #{zzlbid,jdbcType=INTEGER},
      </if>
      <if test="zzlb != null">
        zzlb = #{zzlb,jdbcType=NVARCHAR},
      </if>
      <if test="zzdjid != null">
        zzdjID = #{zzdjid,jdbcType=INTEGER},
      </if>
      <if test="zzdj != null">
        zzdj = #{zzdj,jdbcType=NVARCHAR},
      </if>
      <if test="cjywfw != null">
        cjywfw = #{cjywfw,jdbcType=NVARCHAR},
      </if>
      <if test="bz != null">
        bz = #{bz,jdbcType=NVARCHAR},
      </if>
      <if test="tag != null">
        tag = #{tag,jdbcType=VARCHAR},
      </if>
      <if test="xgr != null">
        xgr = #{xgr,jdbcType=NVARCHAR},
      </if>
      <if test="xgrqsj != null">
        xgrqsj = #{xgrqsj,jdbcType=TIMESTAMP},
      </if>
      <if test="datastate != null">
        DataState = #{datastate,jdbcType=INTEGER},
      </if>
      <if test="zsbh != null">
        zsbh = #{zsbh,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qlmsoft.crawler.entity.Qyzzmx">
    update UEPP_Qyzzmx
    set qyID = #{qyid,jdbcType=VARCHAR},
      csywlxID = #{csywlxid,jdbcType=INTEGER},
      csywlx = #{csywlx,jdbcType=NVARCHAR},
      zslxID = #{zslxid,jdbcType=INTEGER},
      zslx = #{zslx,jdbcType=NVARCHAR},
      zzbz = #{zzbz,jdbcType=NVARCHAR},
      zzxlID = #{zzxlid,jdbcType=INTEGER},
      zzxl = #{zzxl,jdbcType=NVARCHAR},
      zzhyID = #{zzhyid,jdbcType=INTEGER},
      zzhy = #{zzhy,jdbcType=NVARCHAR},
      zzlbID = #{zzlbid,jdbcType=INTEGER},
      zzlb = #{zzlb,jdbcType=NVARCHAR},
      zzdjID = #{zzdjid,jdbcType=INTEGER},
      zzdj = #{zzdj,jdbcType=NVARCHAR},
      cjywfw = #{cjywfw,jdbcType=NVARCHAR},
      bz = #{bz,jdbcType=NVARCHAR},
      tag = #{tag,jdbcType=VARCHAR},
      xgr = #{xgr,jdbcType=NVARCHAR},
      xgrqsj = #{xgrqsj,jdbcType=TIMESTAMP},
      DataState = #{datastate,jdbcType=INTEGER},
      zsbh = #{zsbh,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.qlmsoft.crawler.entity.QyzzmxExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from UEPP_Qyzzmx
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>