<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qlmsoft.crawler.mapper.UeppCodeMapper">
  <resultMap id="BaseResultMap" type="com.qlmsoft.crawler.entity.UeppCode">
    <id column="ParentCode" jdbcType="VARCHAR" property="parentcode" />
    <id column="CodeType" jdbcType="NVARCHAR" property="codetype" />
    <id column="Code" jdbcType="VARCHAR" property="code" />
    <result column="ParentCodeType" jdbcType="NVARCHAR" property="parentcodetype" />
    <result column="CodeInfo" jdbcType="NVARCHAR" property="codeinfo" />
    <result column="CodeDesc" jdbcType="NVARCHAR" property="codedesc" />
    <result column="OrderID" jdbcType="INTEGER" property="orderid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ParentCode, CodeType, Code, ParentCodeType, CodeInfo, CodeDesc, OrderID
  </sql>
  <select id="selectByExample" parameterType="com.qlmsoft.crawler.entity.UeppCodeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from UEPP_Code
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.qlmsoft.crawler.entity.UeppCodeKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from UEPP_Code
    where ParentCode = #{parentcode,jdbcType=VARCHAR}
      and CodeType = #{codetype,jdbcType=NVARCHAR}
      and Code = #{code,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.qlmsoft.crawler.entity.UeppCodeKey">
    delete from UEPP_Code
    where ParentCode = #{parentcode,jdbcType=VARCHAR}
      and CodeType = #{codetype,jdbcType=NVARCHAR}
      and Code = #{code,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.qlmsoft.crawler.entity.UeppCodeExample">
    delete from UEPP_Code
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qlmsoft.crawler.entity.UeppCode">
    insert into UEPP_Code (ParentCode, CodeType, Code, 
      ParentCodeType, CodeInfo, CodeDesc, 
      OrderID)
    values (#{parentcode,jdbcType=VARCHAR}, #{codetype,jdbcType=NVARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{parentcodetype,jdbcType=NVARCHAR}, #{codeinfo,jdbcType=NVARCHAR}, #{codedesc,jdbcType=NVARCHAR}, 
      #{orderid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.qlmsoft.crawler.entity.UeppCode">
    insert into UEPP_Code
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="parentcode != null">
        ParentCode,
      </if>
      <if test="codetype != null">
        CodeType,
      </if>
      <if test="code != null">
        Code,
      </if>
      <if test="parentcodetype != null">
        ParentCodeType,
      </if>
      <if test="codeinfo != null">
        CodeInfo,
      </if>
      <if test="codedesc != null">
        CodeDesc,
      </if>
      <if test="orderid != null">
        OrderID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="parentcode != null">
        #{parentcode,jdbcType=VARCHAR},
      </if>
      <if test="codetype != null">
        #{codetype,jdbcType=NVARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="parentcodetype != null">
        #{parentcodetype,jdbcType=NVARCHAR},
      </if>
      <if test="codeinfo != null">
        #{codeinfo,jdbcType=NVARCHAR},
      </if>
      <if test="codedesc != null">
        #{codedesc,jdbcType=NVARCHAR},
      </if>
      <if test="orderid != null">
        #{orderid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qlmsoft.crawler.entity.UeppCodeExample" resultType="java.lang.Long">
    select count(*) from UEPP_Code
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update UEPP_Code
    <set>
      <if test="record.parentcode != null">
        ParentCode = #{record.parentcode,jdbcType=VARCHAR},
      </if>
      <if test="record.codetype != null">
        CodeType = #{record.codetype,jdbcType=NVARCHAR},
      </if>
      <if test="record.code != null">
        Code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.parentcodetype != null">
        ParentCodeType = #{record.parentcodetype,jdbcType=NVARCHAR},
      </if>
      <if test="record.codeinfo != null">
        CodeInfo = #{record.codeinfo,jdbcType=NVARCHAR},
      </if>
      <if test="record.codedesc != null">
        CodeDesc = #{record.codedesc,jdbcType=NVARCHAR},
      </if>
      <if test="record.orderid != null">
        OrderID = #{record.orderid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update UEPP_Code
    set ParentCode = #{record.parentcode,jdbcType=VARCHAR},
      CodeType = #{record.codetype,jdbcType=NVARCHAR},
      Code = #{record.code,jdbcType=VARCHAR},
      ParentCodeType = #{record.parentcodetype,jdbcType=NVARCHAR},
      CodeInfo = #{record.codeinfo,jdbcType=NVARCHAR},
      CodeDesc = #{record.codedesc,jdbcType=NVARCHAR},
      OrderID = #{record.orderid,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qlmsoft.crawler.entity.UeppCode">
    update UEPP_Code
    <set>
      <if test="parentcodetype != null">
        ParentCodeType = #{parentcodetype,jdbcType=NVARCHAR},
      </if>
      <if test="codeinfo != null">
        CodeInfo = #{codeinfo,jdbcType=NVARCHAR},
      </if>
      <if test="codedesc != null">
        CodeDesc = #{codedesc,jdbcType=NVARCHAR},
      </if>
      <if test="orderid != null">
        OrderID = #{orderid,jdbcType=INTEGER},
      </if>
    </set>
    where ParentCode = #{parentcode,jdbcType=VARCHAR}
      and CodeType = #{codetype,jdbcType=NVARCHAR}
      and Code = #{code,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qlmsoft.crawler.entity.UeppCode">
    update UEPP_Code
    set ParentCodeType = #{parentcodetype,jdbcType=NVARCHAR},
      CodeInfo = #{codeinfo,jdbcType=NVARCHAR},
      CodeDesc = #{codedesc,jdbcType=NVARCHAR},
      OrderID = #{orderid,jdbcType=INTEGER}
    where ParentCode = #{parentcode,jdbcType=VARCHAR}
      and CodeType = #{codetype,jdbcType=NVARCHAR}
      and Code = #{code,jdbcType=VARCHAR}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.qlmsoft.crawler.entity.UeppCodeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from UEPP_Code
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>