USE [WJSJZX]
GO
/****** Object:  Table [dbo].[CorpTradeType]    Script Date: 2018/5/11 13:54:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CorpTradeType](
	[certtypename] [nvarchar](255) NULL,
	[tradetypeno] [nvarchar](255) NULL,
	[tradetypename] [nvarchar](255) NULL
) ON [PRIMARY]

GO
INSERT [dbo].[CorpTradeType] ([certtypename], [tradetypeno], [tradetypename]) VALUES (N'工程勘察', N'101510', N'工程勘察综合类')
INSERT [dbo].[CorpTradeType] ([certtypename], [tradetypeno], [tradetypename]) VALUES (N'工程勘察', N'101520', N'工程勘察专业类')
INSERT [dbo].[CorpTradeType] ([certtypename], [tradetypeno], [tradetypename]) VALUES (N'工程勘察', N'101530', N'工程勘察劳务类')
