USE [WJSJZX]
GO
/****** Object:  Table [dbo].[CorpCertMapping]    Script Date: 2018/5/11 13:54:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CorpCertMapping](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[certname] [nvarchar](255) NULL,
	[majortypename] [nvarchar](255) NULL,
	[majortypeno] [nvarchar](255) NULL,
	[tradetypename] [nvarchar](255) NULL,
	[certtypename] [nvarchar](255) NULL,
 CONSTRAINT [PK_CorpCertMapping] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[CorpCertMapping] ON 

INSERT [dbo].[CorpCertMapping] ([id], [certname], [majortypename], [majortypeno], [tradetypename], [certtypename]) VALUES (1, N'工程设计化工石化医药行业中成药专业甲级', N'中成药', N'10202007', N'化工石化医药行业', N'工程设计')
INSERT [dbo].[CorpCertMapping] ([id], [certname], [majortypename], [majortypeno], [tradetypename], [certtypename]) VALUES (2, N'工程设计化工石化医药行业中成药专业乙级', N'中成药', N'10202007', N'化工石化医药行业', N'工程设计')
INSERT [dbo].[CorpCertMapping] ([id], [certname], [majortypename], [majortypeno], [tradetypename], [certtypename]) VALUES (3, N'工程设计环境工程专项（大气污染防治工程）甲级', N'大气污染防治工程', N'10267002', N'环境工程专项', N'工程设计')
GO
SET IDENTITY_INSERT [dbo].[CorpCertMapping] OFF
