USE [WJSJZX]
GO
/****** Object:  Table [dbo].[CorpMajorType]    Script Date: 2018/5/11 13:54:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CorpMajorType](
	[certtypename] [nvarchar](255) NULL,
	[tradetypename] [nvarchar](255) NULL,
	[majortypename] [nvarchar](255) NULL,
	[majortypeno] [nvarchar](255) NULL
) ON [PRIMARY]

GO
INSERT [dbo].[CorpMajorType] ([certtypename], [tradetypename], [majortypename], [majortypeno]) VALUES (N'工程勘察', N'工程勘察综合类', N'不分专业', N'10151000')
INSERT [dbo].[CorpMajorType] ([certtypename], [tradetypename], [majortypename], [majortypeno]) VALUES (N'工程勘察', N'工程勘察专业类', N'岩土工程', N'10152001')
INSERT [dbo].[CorpMajorType] ([certtypename], [tradetypename], [majortypename], [majortypeno]) VALUES (N'工程勘察', N'工程勘察专业类', N'岩土工程（勘察）', N'10152005')
GO
